div.admonition, div.attention, div.caution, div.danger, div.error,
div.hint, div.important, div.note, div.tip, div.warning {
    margin-top: 2em;
    margin-bottom: 2em;
    border: medium outset;
    border-radius: 6px;
    padding: 1em;
}

div.admonition p.admonition-title, div.hint p.admonition-title,
div.important p.admonition-title, div.note p.admonition-title,
div.tip p.admonition-title {
    font-weight: bold;
}

div.attention p.admonition-title, div.caution p.admonition-title,
div.danger p.admonition-title, div.error p.admonition-title,
div.warning p.admonition-title, .code .error {
    color: red;
    font-weight: bold;
}

section, div.compound {
    margin-bottom: 2em;
}

.caption-text {
    font-weight: bold;
}