#navbar {
    border-bottom: solid 2px;
    border-color: var(--gray);
}

#menuPanel {
    min-width: 300px;
    width: 20%;
    border-right: solid 2px;
    border-color: var(--gray);
    height: 100vh;
    overflow-y: scroll;
}

#content {
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#content::-webkit-scrollbar {
    display: none;
}

#mini-menu {
    background: white;
    position: absolute;
    padding-left: 20px;
    min-width: 230px;
    overflow: auto;
    z-index: 1;
}

.hide {
    display: none;
}

.mini-menu-list {
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 1px 20px 12px 45px;
    border: none;
    border: 1px solid #ddd;
}

.mini-menu-list a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.mini-menu-list a:hover {background-color: #ddd;}

.panel {
    background-color: white;
}

.results {
    max-height: 80%;
    overflow: auto;
}

.modal-content {
    height: 80%;
    max-height: 80%;
    overflow: hidden;
}

.md-22 {
    font-size: 22px !important;
}

.result {
    border: none;
    border: 1px solid #ddd;
    text-align: center;
}

.result:hover {
    background: #ddd;
}

.result-title {
    text-align: center;
    font-size: 20px;
}

.result-content {
    padding: 0px 0px 0px 20px;
    color:grey;
}