#popover {
    visibility: hidden;
    position: absolute;
    background-color: #dbfaf4;
    margin-left: 1%;
    padding: 10px;
    box-shadow: 0 2px 5px 0 #1abc9c7f;
    border-radius: 6px;
    width: auto;
    text-align: center;
}

#popover:before {
    position: absolute;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #dbfaf4 transparent;
}

.popover-trigger:hover ~ #popover {
    visibility: visible;
}