<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
  </title>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="../css/general.css" rel="stylesheet" type="text/css"/>
  <link href="../css/main.css" rel="stylesheet" type="text/css"/>
  <script src="../js/script.js">
  </script>
 </head>
 <body>
  <nav aria-label="main navigation" class="navbar" id="navbar" role="navigation">
   <div class="navbar-brand">
    <a class="navbar-item" href="#">
     <h1 class="title">
     </h1>
    </a>
    <a aria-expanded="false" aria-label="menu" class="navbar-burger" data-target="menuPanel" role="button">
     <span aria-hidden="true">
     </span>
     <span aria-hidden="true">
     </span>
     <span aria-hidden="true">
     </span>
    </a>
   </div>
   <div class="navbar-menu">
    <div class="navbar-start">
     <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
       Version
      </a>
      <div class="navbar-dropdown">
       <a class="navbar-item">
        0.1
       </a>
       <a class="navbar-item">
        1.0
       </a>
       <a class="navbar-item">
        1.1
       </a>
      </div>
     </div>
    </div>
    <!-- <a class="navbar-item column is-4">
                    <input class="input" type="text" placeholder="Search">
                </a> -->
    <div class="navbar-end">
    </div>
   </div>
  </nav>
  <section class="main-content columns is-fullheight">
   <!-- <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a> -->
   <aside class="column is-narrow is-2 is-fullheight section is-hidden-mobile" id="menuPanel">

   </aside>
   <div class="container hero is-fullheight">
    <div class="content" id="content">
    </div>
   </div>
  </section>
 </body>
</html>